black
CacheControl==0.14.0
certifi==2024.2.2
chardet==3.0.4
deprecation==2.1.0
idna==3.7
jsonpickle==3.0.4
msgpack==1.0.0
packaging==24.0
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.32.0
six==1.16.0
squareup==37.0.0.20240515
urllib3==2.2.2
